<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/dialect" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Client</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container">

    <h1>Test Client</h1>

    <hr>

    <div class="jumbotron">
        <a class="btn btn-primary" href="#" role="button"
           th:href="@{/main}">Back</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="toDoResource : ${todos}">
            <td th:text="${toDoResource.title}">Title</td>
            <td th:text="${toDoResource.description}">descr</td>
            <td th:text="${toDoResource.dueDate}">due</td>
        </tr>
        </tbody>
    </table>

    <hr>

    <script src="../static/js/jquery.min.js" th:href="@{/js/jquery.min.js}" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/popper.min.js" th:href="@{/js/popper.min.js}" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}" th:src="@{/js/bootstrap.js}"></script>

</div>

</body>
</html>